<!DOCTYPE html>
<style>
    #texto {
        color: rgb(76,0,125);
    }
</style>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - reforcoescolar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/reforcoescolar.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5  bg-body-tertiary  fixed-top  ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="imagens/logoReforca.png" width="160" height="90" />
                </a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                <ul class="navbar-nav flex-grow-1">
                <li  class="nav-item">
                <a class="nav-link fw-bolder fs-6 text-primary" asp-area="" asp-page="/Index" id="texto">Sou Aluno</a>
                </li>
                <li  class="nav-item">
                <a class="nav-link  fw-bolder  fs-6 text-primary" asp-area="" asp-page="/Privacy" style=" color: rgb(76,0,125)">Sou Responsável</a>
                </li>
                </ul>
                </div> *@


                <button type="button" class="btn rounded-pill fw-bolder " style="background-color:rgb(127,0,255); color:white;">Agende avaliação gratuita</button>
                <div id="texto" class="ui compact menu">
                    <div id="texto" class="ui simple dropdown item">
                        Entrar
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item"> Sou Responsável</div>
                            <div class="item"> Sou Aluno</div>
                            <div class="item"> Sou Professor</div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - reforcoescolar - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/semantic-ui/semantic.js"></script>
    <script src="~/lib/semantic-ui/semantic.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".dropdown").dropdown({ fullTextSearch: "exact", allowAdditions: true });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>